<blockquote>
  <em>Pinocchio</em>, in Carlo Collodi’s original version, is an adventure-filled, menacing fairy tale with a moral. Made by the woodcarver Geppetto, the puppet Pinocchio dreams of becoming a real child. But his unrestrained curiosity, dishonesty, and selfishness put him in constant peril. As he journeys from the deceptive “Field of Miracles,” where he plants gold coins to make them grow, to the land where lazy boys turn into donkeys, Pinocchio’s path is paved with mistakes, willfulness, and danger.And all the while his nose keeps growing bigger and bigger and bigger every time he tells a fib, so all the world can see what a liar he is…
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/B0759VY7MV/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=B0759VY7MV&linkId=990d313eae0ae0dcd205687c51b05745">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/r-ORoW-d5So" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p><a href="https://en.wikipedia.org/wiki/The_Adventures_of_Pinocchio">Wikipedia</a></p>
