<blockquote>
  <em>The Analects</em> are a collection of Confucius’s sayings brought together by his pupils shortly after his death in 497 BC. Together they express a philosophy, or a moral code, by which Confucius, one of the most humane thinkers of all time, believed everyone should live. Upholding the ideals of wisdom, self-knowledge, courage and love of one’s fellow man, he argued that the pursuit of virtue should be every individual’s supreme goal. And, while following the Way, or the truth, might not result in immediate or material gain, Confucius showed that it could nevertheless bring its own powerful and lasting spiritual rewards.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0140443487/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0140443487&linkId=c7ac8f147b4682605fa1aa9a8604cdb5">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/Analects">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/27297.The_Analects?from_search=true&qid=C2g0oHVAzN&rank=1">GoodReads</a></p>
