<blockquote>
  As soon as Anne Shirley arrives at the snug white farmhouse called Green Gables, she is sure she wants to stay forever . . . but will the Cuthberts send her back to to the orphanage? Anne knows she’s not what they expected—a skinny girl with fiery red hair and a temper to match. If only she can convince them to let her stay, she’ll try very hard not to keep rushing headlong into scrapes and blurting out the first thing that comes to her mind. Anne is not like anyone else, the Cuthberts agree; she is special—a girl with an enormous imagination. This orphan girl dreams of the day when she can call herself Anne of Green Gables.
</blockquote>
<p class="text-center">- <a href="https://www.goodreads.com/book/show/8127.Anne_of_Green_Gables?from_search=true&qid=CkDHnk38kH&rank=1">GoodReads</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.amazon.com/gp/product/1503214133/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1503214133&linkId=d402cb69670f5bbac69d5787d57c395c">Amazon</a></p>
<p><a href="https://www.sparknotes.com/lit/anneofgreengables/summary/">SparkNotes</a></p>
