<blockquote>
  Full of mischief, valor, ribaldry, and romance, The Arabian Nights has enthralled readers for centuries. These are the tales that saved the life of Shahrazad, whose husband, the king, executed each of his wives after a single night of marriage. Beginning an enchanting story each evening, Shahrazad always withheld the ending: A thousand and one nights later, her life was spared forever.
</blockquote>
<p class="text-center">- <a href="https://www.goodreads.com/book/show/25082403-the-arabian-nights?from_search=true&qid=NP4d7c61Zk&rank=1">GoodReads</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.amazon.com/gp/product/0812972147/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0812972147&linkId=1bbdf667e321d15685cc6cc694909b5d">Amazon</a></p>
<p><a href="https://en.wikipedia.org/wiki/One_Thousand_and_One_Nights">Wikipedia</a></p>
