<blockquote>
  Twenty-Five Hundred years ago, Sun Tzu wrote this classic book of military strategy based on Chinese warfare and military thought. Since that time, all levels of military have used the teaching on Sun Tzu to warfare and civilization have adapted these teachings for use in politics, business and everyday life. The Art of War is a book which should be used to gain advantage of opponents in the boardroom and battlefield alike.
</blockquote>
<p class="text-center">- <a href="https://www.goodreads.com/book/show/10534.The_Art_of_War?from_search=true&qid=wIZVjFcbcL&rank=1">GoodReads</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/The_Art_of_War">Wikipedia</a></p>
<p><a href="https://www.litcharts.com/lit/the-art-of-war/summary">LitCharts</a></p>
