<blockquote>
  [This book] is the unfinished record of his own life written by Benjamin Franklin from 1771 to 1790. The work has become one of the most famous and influential examples of an autobiography ever written.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/1688093389/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1688093389&linkId=e8f54eb8b55a33e3b1789ef7b80b8978">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.sparknotes.com/lit/franklinautobio/summary/">SparkNotes</a></p>
<p><a href="https://en.wikipedia.org/wiki/The_Autobiography_of_Benjamin_Franklin">Wikipedia</a></p>
