<blockquote>
  [This book] is one of the most popular and beloved 19th century American novels. This faithful New Testament tale combines the events of the life of Jesus with grand historical spectacle in the exciting story of Judah of the House of Hur, a man who finds extraordinary redemption for himself and his family. A classic of faith, fortitude, and inspiration.
</blockquote>
<p class="text-center">- <a href="https://www.goodreads.com/book/show/387749.Ben_Hur?from_search=true&qid=knmnceTGsH&rank=1">GoodReads</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.amazon.com/gp/product/1853262838/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1853262838&linkId=a3792b5771af74c4c451b9f975ba6260">Amazon</a></p>
<p><a href="https://en.wikipedia.org/wiki/Ben-Hur:_A_Tale_of_the_Christ">Wikipedia</a></p>
