<blockquote>
  While forthrightly teaching animal welfare, [this story] also teaches how to treat people with kindness, sympathy, and respect. Black Beauty became a forerunner to the pony book genre of children’s literature.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/1503251284/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1503251284&linkId=7056be9d288b86eb598bcd54acdb8924">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.goodreads.com/book/show/3685.Black_Beauty?from_search=true&qid=mK51lha02Z&rank=1">GoodReads</a></p>
<p><a href="https://en.wikipedia.org/wiki/Black_Beauty">Wikipedia</a></p>
