<blockquote>
  Filled with human passions ― lust, greed, love, jealousy, sorrow, and humor ― the book is also infused with moral issues and the issue of collective guilt. As in many of Dostoevsky’s novels, the plot centers on a murder. Three brothers, different in character but bound by their ancestry, are drawn into the crime’s vortex: Dmitri, a young officer utterly unrestrained in love, hatred, jealousy, and generosity; Ivan, an intellectual capable of delivering impromptu disquisitions about good and evil, God, and the devil; and Alyosha, the youngest brother, preternaturally patient, kind, and loving.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0486437914/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0486437914&linkId=9ab369018b79fe0eff0364c9048a92b7">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MMmSdxZpseY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p><a href="https://www.sparknotes.com/lit/brothersk/summary/">SparkNotes</a></p>
