<blockquote>
  A story-telling competition between a group of pilgrims from all walks of life is the occasion for a series of tales that range from the Knight’s account of courtly love and the ebullient Wife of Bath’s Arthurian legend, to the ribald anecdotes of the Miller and the Cook. Rich and diverse, <em>The Canterbury Tales</em> offer us an unrivalled glimpse into the life and mind of medieval England.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0140424385/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0140424385&linkId=55e263550df36ed5604e7a763dd978b4">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/h0ZrBr9DOwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p><a href="https://www.sparknotes.com/lit/canterbury/summary/">SparkNotes</a></p>
