<blockquote>
  Some Pig. Humble. Radiant.’ These are the words in Charlotte’s Web, high up in Zuckerman’s barn. Charlotte’s spiderweb tells of her feelings for a little pig named Wilbur, who simply wants a friend. They also express the love of a girl named Fern, who saved Wilbur’s life when he was born the runt of his litter. E. B. White’s Newbery Honor Book is a tender novel of friendship, love, life, and death that will continue to be enjoyed by generations to come.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0064410935/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0064410935&linkId=4d85fbf0bf73ce4737a5445199885c49">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/Charlotte%27s_Web">Wikipedia</a></p>
<p><a href="https://www.commonsensemedia.org/book-reviews/charlottes-web">Common Sense Media</a></p>
