<blockquote>
  The fairy tales Hans Christian Andersen wrote, such as “The Snow Queen,” “The Ugly Duckling,” “The Red Shoes,” and “The Nightingale,” are remarkable for their sense of fantasy, power of description, and acute sensitivity, and they are like no others written before or since. Unlike the Brothers Grimm, who collected and retold folklore, Andersen adopted the most ancient literary forms of the fairy tale and the folktale and distilled them into a genre that was uniquely his own.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0385189516/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0385189516&linkId=21c314f8e3ac9846eb9d8adba5e5a0bc">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/Hans_Christian_Andersen">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/46306.The_Complete_Fairy_Tales">GoodReads</a></p>
