<blockquote>
  Inspired by the true story of a political murder that horried Russians in 1869, Fyodor Dostoevsky conceived of Demons as a “novel-pamphlet” in which he would say everything about the plague of materialist ideology that he saw infecting his native land. What emerged was a prophetic and ferociously funny masterpiece of ideology and murder in pre-revolutionary Russia.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0679734511/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0679734511&linkId=3502f2cb60422741f7cfde8442db6833">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MMmSdxZpseY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p><a href="https://en.wikipedia.org/wiki/Demons_(Dostoevsky_novel)">Wikipedia</a></p>
