<blockquote>
  The Divine Comedy describes Dante’s descent into Hell with Virgil as a guide; his ascent of Mount Purgatory and encounter with his dead love, Beatrice; and finally, his arrival in Heaven. Examining questions of faith, desire and enlightenment, the poem is a brilliantly nuanced and moving allegory of human redemption.
</blockquote>
<p class="text-center">– <a href="https://www.amazon.com/gp/product/0142437220/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0142437220&linkId=c8d440a6e2396071b8ff316ebd598cf5">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YbCEWSip9pQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="spacer"></div>
<a href="https://en.wikipedia.org/wiki/Divine_Comedy">Wikipedia</a>
