<blockquote>
  Hailed as Germany’s greatest contribution to world literature, Faust drew upon the legends surrounding a sixteenth-century sorcerer as well as Marlowe’s Dr. Faustus. But Goethe’s epic interpretation further explores the tension between learning and experience, and in this version Faust sells his soul not simply for magic powers but also for a heightened sense of existence. Part One of the dramatic poem concerns the magician’s devilish pact with Mephistopheles and his seduction of Gretchen, an innocent girl.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0486821889/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0486821889&linkId=d71209a5da79cba752d414905975e9a2">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zNEpojtXotE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p><a href="https://en.wikipedia.org/wiki/Faust">Wikipedia</a></p>
