<blockquote>
  …[T]his compilation of eighty-five articles explains and defends the ideals behind the highest form of law in the United States. The essays were written and published anonymously in New York newspapers during the years 1787 and 1788 by three of the Constitution’s framers and ratifiers: Alexander Hamilton, General George Washington’s Chief of Staff and first Secretary of the Treasury; John Jay, the first Chief Justice of the United States; and James Madison, father of the Constitution, author of the Bill of Rights, and fourth President of the United States. Thomas Jefferson hailed The Federalist Papers as the best commentary ever written about the principles of government. Milestones in political science and enduring classics of political philosophy, these articles are essential reading for students, lawyers, politicians, and those with an interest in the foundation of U.S. government and law.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0486496368/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0486496368&linkId=ce551cd845d6a74e4655da2ac7ae62ef">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/The_Federalist_Papers">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/110331.The_Federalist_Papers?from_search=true&qid=LpRsoaa9ki&rank=1">GoodReads</a></p>
