<blockquote>
  The story of Robert Jordan, a young American in the International Brigades attached to an antifascist guerilla unit in the mountains of Spain, it tells of loyalty and courage, love and defeat, and the tragic death of an ideal. In his portrayal of Jordan’s love for the beautiful Maria and his superb account of El Sordo’s last stand, in his brilliant travesty of La Pasionaria and his unwillingness to believe in blind faith, Hemingway surpasses his achievement in The Sun Also Rises and A Farewell to Arms to create a work at once rare and beautiful, strong and brutal, compassionate, moving, and wise. "If the function of a writer is to reveal reality,” Maxwell Perkins wrote Hemingway after reading the manuscript, "no one ever so completely performed it."
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0684803356/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0684803356&linkId=96803ff9d5c9f11865990229d64f3038">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.sparknotes.com/lit/belltolls/summary/">SparkNotes</a></p>
<p><a href="https://www.goodreads.com/book/show/46170.For_Whom_the_Bell_Tolls?from_search=true&qid=dIogz2vX9m&rank=1">GoodReads</a></p>
