<blockquote>
  With <em>Frankenstein</em>, [Mary Shelley] succeeded admirably in the task she set for herself: to create a story that, in her own words, ‘would speak to the mysterious fears of our nature and awaken thrilling horror — one to make the reader dread to look round, to curdle the blood, and quicken the beatings of the heart.’
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0486282112/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0486282112&linkId=f5d9c8bcee9c6090e87f1acc11b8942a">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/XRppXdKDY_c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="spacer"></div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PDgu25Dsv34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
