<blockquote>
  With its brilliant and brutal portrayal of the Corleone family, <em>The Godfather</em> burned its way into our national consciousness. This unforgettable saga of crime and corruption, passion and loyalty continues to stand the test of time, as the definitive novel of the Mafia underworld.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0451205766/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0451205766&linkId=2d392490c001e7adfba3c2f29a274ccc">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/The_Godfather_(novel)">Wikipedia</a></p>
<p><a href="https://www.litcharts.com/lit/the-godfather/summary">LitCharts</a></p>
