<blockquote>
  Out of their trials and their repeated collisions against the hard realities of an America divided into Haves and Have-Nots evolves a drama that is intensely human yet majestic in its scale and moral vision, elemental yet plainspoken, tragic but ultimately stirring in its human dignity. A portrait of the conflict between the powerful and the powerless, of one man’s fierce reaction to injustice, and of one woman’s stoical strength, the novel captures the horrors of the Great Depression and probes into the very nature of equality and justice in America.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0143039431/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0143039431&linkId=a89d65928a1e2e2ff179970bfc8e4ea4">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.sparknotes.com/lit/grapesofwrath/summary/">SparkNotes</a></p>
<p><a href="https://www.goodreads.com/book/show/18114322-the-grapes-of-wrath?from_search=true&qid=lC3OGUimAx&rank=1">GoodReads</a></p>
