<blockquote>
  Regarded as the preeminent prose satirist in the English language, Jonathan Swift (1667–1745) intended this masterpiece, as he once wrote Alexander Pope, to “vex the world rather than divert it.” Savagely ironic, it portrays man as foolish at best, and at worst, not much more than an ape. The direct and unadorned narrative describes four remarkable journies of ship’s surgeon Lemuel Gulliver, among them, one to the land of Lilliput, where six-inch-high inhabitants bicker over trivialities; and another to Brobdingnag, a land where giants reduce man to insignificance. Written with disarming simplicity and careful attention to detail, this classic is diverse in its appeal: for children, it remains an enchanting fantasy. For adults, it is a witty parody of political life in Swift’s time and a scathing send-up of manners and morals in 18th-century England.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0486292738/ref=as_li_tl?ie=UTF8&tag=flowoflearnin-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=0486292738&linkId=c9919bfa204d660462d7733d75c8bbf4">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.sparknotes.com/lit/gulliver/">SparkNotes</a></p>
<p><a href="https://en.wikipedia.org/wiki/Gulliver%27s_Travels">Wikipedia</a></p>
