<blockquote>
  Little orphan Heidi goes to live high in the Alps with her gruff grandfather and brings happiness to all who know her on the mountain. When Heidi goes to Frankfurt to work in a wealthy household, she dreams of returning to the mountains and meadows, her friend Peter, and her beloved grandfather.
</blockquote>
<p class="text-center">- <a href="https://www.goodreads.com/book/show/93.Heidi?from_search=true&qid=ABjtzJ3hT0&rank=2">GoodReads</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.amazon.com/gp/product/1508480567/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1508480567&linkId=0f284f91bdb31f72db7d0d4fcb136007">Amazon</a></p>
<p><a href="https://en.wikipedia.org/wiki/Heidi">Wikipedia</a></p>
