<blockquote>
  Dale Carnegie’s rock-solid, time-tested advice has carried countless people up the ladder of success in their business and personal lives. One of the most groundbreaking and timeless bestsellers of all time, How to Win Friends & Influence People will teach you six ways to make people like you, twelve ways to win people to your way of thinking, nine ways to change people without arousing resentment.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0671027034/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0671027034&linkId=afdb6894ec56ecf0f3864d0121b2c57d">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/How_to_Win_Friends_and_Influence_People">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/4865.How_to_Win_Friends_and_Influence_People?from_search=true&qid=mbY5W6zW80&rank=1">GoodReads</a></p>
