<blockquote>
  Prince Myshkin returns to Russia from an asylum in Switzerland. As he becomes embroiled in the frantic amatory and financial intrigues which centre around a cast of brilliantly realised characters and which ultimately lead to tragedy, he emerges as a unique combination of the Christian ideal of perfection and Dostoevsky’s own views, afflictions and manners. His serene selflessness is contrasted with the worldly qualities of every other character in the novel. Dostoevsky supplies a harsh indictment of the Russian ruling class of his day who have created a world which cannot accomodate the goodness of this idiot.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/1853261750/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1853261750&linkId=088ca454323203e325fce1e9ff3e2510">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MMmSdxZpseY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p><a href="https://www.sparknotes.com/lit/idiot/summary/">SparkNotes</a></p>
