<blockquote>
  A first novel by an unknown writer, it remained on the bestseller list for sixteen weeks, won the National Book Award for fiction, and established Ralph Ellison as one of the key writers of the century. The nameless narrator of the novel describes growing up in a black community in the South, attending a Negro college from which he is expelled, moving to New York and becoming the chief spokesman of the Harlem branch of “the Brotherhood”, and retreating amid violence and confusion to the basement lair of the Invisible Man he imagines himself to be. The book is a passionate and witty tour de force of style, strongly influenced by T.S. Eliot’s The Waste Land, Joyce, and Dostoevsky.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0679732764/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0679732764&linkId=d6019bc239c2335e712711b09878aa73">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MMmSdxZpseY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="spacer"></div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hvfs4jIYHrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
