<blockquote>
  Widely regarded as a revolutionary novel, Brontë’s masterpiece introduced the world to a radical new type of heroine, one whose defiant virtue and moral courage departed sharply from the more acquiescent and malleable female characters of the day. Passionate, dramatic, and surprisingly modern, <em>Jane Eyre</em> endures as one of the world’s most beloved novels.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0553211404/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0553211404&linkId=5d5c226ba267675dff2f010e409b8f1a">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Z8tqY8fX0Ec" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p><a href="https://www.sparknotes.com/lit/janeeyre/summary/">SparkNotes</a></p>
