<blockquote>
  Deep in the forests of upper New York State, the brave woodsman Hawkeye (Natty Bumppo) and his loyal Mohican friends Chingachgook and Uncas become embroiled in the bloody battles of the French and Indian War. The abduction of the beautiful Munro sisters by hostile savages, the treachery of the renegade brave Magua, the ambush of innocent settlers, and the thrilling events that lead to the final tragic confrontation between rival war parties create an unforgettable, spine-tingling picture of life on the frontier. And as the idyllic wilderness gives way to the forces of civilization, the novel presents a moving portrayal of a vanishing race and the end of its way of life in the great American forests.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0553213296/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0553213296&linkId=aaf3b733b84e18203602e6ad77db0e7a">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/The_Last_of_the_Mohicans">Wikipedia</a></p>
<p><a href="https://www.litcharts.com/lit/the-last-of-the-mohicans/summary">LitCharts</a></p>
