<blockquote>
  Written during the turmoil of the English Civil War, Leviathan is an ambitious and highly original work of political philosophy. Claiming that man’s essential nature is competitive and selfish, Hobbes formulates the case for a powerful sovereign—or “Leviathan”—to enforce peace and the law, substituting security for the anarchic freedom he believed human beings would otherwise experience. This worldview shocked many of Hobbes’s contemporaries, and his work was publicly burnt for sedition and blasphemy when it was first published. But in his rejection of Aristotle’s view of man as a naturally social being, and in his painstaking analysis of the ways in which society can and should function, Hobbes opened up a whole new world of political science.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0140431950/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0140431950&linkId=83ebf2acc46cc2c38669464bd77f47a1">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/Leviathan_(Hobbes_book)">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/91953.Leviathan?from_search=true&qid=qsktk83XD9&rank=1">GoodReads</a></p>
