<blockquote>
  <em>The Narrative of the Life of Frederick Douglass</em> is an 1845 memoir and treatise on abolition written by famous orator and former slave Frederick Douglass during his time in Lynn, Massachusetts. It is generally held to be the most famous of a number of narratives written by former slaves during the same period. In factual detail, the text describes the events of his life and is considered to be one of the most influential pieces of literature to fuel the abolitionist movement of the early 19th century in the United States.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/1678620386/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1678620386&linkId=7c0ae31c19bb134addd7d1d0359dd903">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/Narrative_of_the_Life_of_Frederick_Douglass,_an_American_Slave">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/48655711-the-narrative-of-the-life-of-frederick-douglas?from_search=true&qid=a7J3GLrfvC&rank=2">GoodReads</a></p>
