<blockquote>
  Awe and exhiliration–along with heartbreak and mordant wit–abound in <em>Lolita</em>, Nabokov’s most famous and controversial novel, which tells the story of the aging Humbert Humbert’s obsessive, devouring, and doomed passion for the nymphet Dolores Haze. Lolita is also the story of a hypercivilized European colliding with the cheerful barbarism of postwar America. Most of all, it is a meditation on love–love as outrage and hallucination, madness and transformation.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0679723161/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0679723161&linkId=7744a61a4825993ec27b995205f8b172">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.sparknotes.com/lit/lolita/summary/">SparkNotes</a></p>
<p><a href="https://en.wikipedia.org/wiki/Lolita">Wikipedia</a></p>
