<blockquote>
  A masterpiece of storytelling, this epic saga pits Ahab, a brooding and fantastical sea captain, against the great white whale that crippled him. In telling the tale of Ahab’s passion for revenge and the fateful voyage that ensued, Melville produced far more than the narrative of a hair-raising journey; Moby-Dick is a tale for the ages that sounds the deepest depths of the human soul. Interspersed with graphic sketches of life aboard a whaling vessel, and a wealth of information on whales and 19th-century whaling, Melville’s greatest work presents an imaginative and thrilling picture of life at sea, as well as a portrait of heroic determination. The author’s keen powers of observation and firsthand knowledge of shipboard life (he served aboard a whaler himself) were key ingredients in crafting a maritime story that dramatically examines the conflict between man and nature.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0486432157/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0486432157&linkId=f7ef0cc54f049af768271bc9d790bce6">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IvUcasP6BLM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p><a href="https://www.sparknotes.com/lit/mobydick/summary/">SparkNotes</a></p>
