<blockquote>
  Right from the start, Bigger Thomas had been headed for jail. It could have been for assault or petty larceny; by chance, it was for murder and rape. Native Son tells the story of this young black man caught in a downward spiral after he kills a young white woman in a brief moment of panic. Set in Chicago in the 1930s, Richard Wright’s powerful novel is an unsparing reflection on the poverty and feelings of hopelessness experienced by people in inner cities across the country and of what it means to be black in America.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/006083756X/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=006083756X&linkId=ed5b5034902fc61ae825358b1f0c0cb6">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.sparknotes.com/lit/nativeson/summary/">SparkNotes</a></p>
<p><a href="https://en.wikipedia.org/wiki/Native_Son">Wikipedia</a></p>
