<blockquote>
  If the <em>Iliad</em> is the world’s greatest war epic, then the Odyssey is literature’s grandest evocation of everyman’s journey though life. Odysseus’ reliance on his wit and wiliness for survival in his encounters with divine and natural forces, during his ten-year voyage home to Ithaca after the Trojan War, is at once a timeless human story and an individual test of moral endurance.
</blockquote>
<p class="text-center">- <a href="https://www.goodreads.com/book/show/1381.The_Odyssey?from_search=true&qid=S1xO8qSclb&rank=1">GoodReads</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BCXRxD85Xc0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="spacer"></div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8Z9FQxcCAZ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
