<blockquote>
  Sophocles is one of three ancient Greek tragedians whose plays have survived. His first plays were written later than or contemporary with those of Aeschylus, and earlier than or contemporary with those of Euripides. Sophocles wrote over 120 plays during the course of his life, but only seven have survived in a complete form: <em>Ajax</em>, <em>Antigone</em>, <em>Women of Trachis</em>, <em>Oedipus Rex</em>, <em>Electra</em>, <em>Philoctetes</em> and <em>Oedipus at Colonus</em>. For almost 50 years, Sophocles was the most celebrated playwright in the dramatic competitions of the city-state of Athens that took place during the religious festivals of the Lenaea and the Dionysia. He competed in 30 competitions, won 24, and was never judged lower than second place.
</blockquote>
<p class="text-center">- <a href="https://en.wikipedia.org/wiki/Sophocles">Wikipedia</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Cj7R36s4dbM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<p>GoodReads: <a href="https://www.goodreads.com/book/show/1554.Oedipus_Rex?from_search=true&qid=tFtfrDT5so&rank=1">Oedipus Rex</a>, <a href="https://www.goodreads.com/book/show/148313.Oedipus_at_Colonus?from_search=true&qid=aDtjY1A5zY&rank=2">Oedipus Colonus</a>, and <a href="https://www.goodreads.com/book/show/7728.Antigone?ac=1&from_search=true&qid=5kf3c5rjrk&rank=1">Antigone</a></p>
