<blockquote>
  The British economist, philosopher, and ethical theorist’s argument does not focus on “the so-called Liberty of the Will…but Civil, or Social Liberty: the nature and limits of the power which can be legitimately exercised by society over the individual.” Mill asks and answers provocative questions relating to the boundaries of social authority and individual sovereignty. In powerful and persuasive prose, he declares that there is “one very simple principle” regarding the use of coercion in society — one may only coerce others either to defend oneself or to defend others from harm.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0486421309/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0486421309&linkId=4ff8dc4e10889f5035aaef722c5cf4f5">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/On_Liberty">Wikipedia</a></p>
<p><a href="https://www.litcharts.com/lit/on-liberty/summary">LitCharts</a></p>
