<blockquote>
  In 1845, Henry David Thoreau left Concord Massachusetts and moved to a cabin that he built by himself near Walden Pond in Massachusetts. Walden, is an account of his stay in the woods and his experience. Shedding the trivial ties that he felt bound much of humanity, he pursued truth in the quiet of nature. Thoreau believes that such an experience enables one to gain true enlightenment. Even as Thoreau disentangled himself from worldly matters, his musings were often disturbed by his social conscience. On the Duty of Civil Disobedience, also included in this book, expresses his antislavery and antiwar sentiments, as well as his protest against the government’s interference with civil liberty. His writings have inspired many to embrace his philosophy of individualism, and has influenced non-violent resistance movements worldwide.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/1097881709/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1097881709&linkId=d9f7cd7780e27e1f01887f2ff54d2941">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/Civil_Disobedience_(Thoreau)">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/31197323-walden-and-on-the-duty-of-civil-disobedience?from_search=true&qid=9mb94h5KW7&rank=1">GoodReads</a></p>
