<blockquote>
  One Hundred Years of Solitude tells the story of the rise and fall, birth and death of the mythical town of Macondo through the history of the Buenda family. Inventive, amusing, magnetic, sad, and alive with unforgettable men and women — brimming with truth, compassion, and a lyrical magic that strikes the soul — this novel is a masterpiece in the art of fiction.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0060883286/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0060883286&linkId=359f58f789c1d4a910156ab9beadb4f4">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/B2zhLYz4pYo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="spacer"></div>
<a href="https://www.sparknotes.com/lit/solitude/summary/">Spark Notes</a>
