<blockquote>
  No one ever said life was easy. But Ponyboy is pretty sure that he’s got things figured out. He knows that he can count on his brothers, Darry and Sodapop. And he knows that he can count on his friends—true friends who would do anything for him, like Johnny and Two-Bit. But not on much else besides trouble with the Socs, a vicious gang of rich kids whose idea of a good time is beating up on “greasers” like Ponyboy. At least he knows what to expect—until the night someone takes things too far.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/014240733X/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=014240733X&linkId=151d4b24e556c1f6d3283218ac04b6e7">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.sparknotes.com/lit/outsiders/summary/">SparkNotes</a></p>
<p><a href="https://en.wikipedia.org/wiki/The_Outsiders_(novel)">Wikipedia</a></p>
