<blockquote>
  Set in a small English village during 1812… A poor country squire is trying to find husbands for his five daughters. When one of them, Elizabeth, meets rich Mr. Darcy at a dance, they don’t find much in common. But during the next few months, they overcome their differences and fall in love.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0486284735/ref=as_li_tl?ie=UTF8&tag=flowoflearnin-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=0486284735&linkId=aab1d33d88e1e4433015bc5dd342fe25">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/LIYiThAyY8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="spacer"></div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/5xTh44G6RYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="spacer"></div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dhgEpr87Yac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
