<blockquote>
  <em>The Principia</em> states Newton’s laws of motion, forming the foundation of classical mechanics; Newton’s law of universal gravitation; and a derivation of Kepler’s laws of planetary motion (which Kepler first obtained empirically). The Principia is considered one of the most important works in the history of science. Sir Isaac Newton was an English mathematician, astronomer, theologian, author and physicist who is widely recognised as one of the most influential scientists of all time, and a key figure in the scientific revolution.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/1724680447/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1724680447&linkId=d40cac762ed13d7beddde6a0a60f6d93">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/Philosophi%C3%A6_Naturalis_Principia_Mathematica">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/231083.The_Principia?from_search=true&qid=x3J7fn2oTK&rank=1">GoodReads</a></p>
