<blockquote>
  Handsome, ambitious Julien Sorel is determined to rise above his humble provincial origins. Soon realizing that success can only be achieved by adopting the subtle code of hypocrisy by which society operates, he begins to achieve advancement through deceit and self-interest. His triumphant career takes him into the heart of glamorous Parisian society, along the way conquering the gentle, married Madame de Rênal, and the haughty Mathilde. But then Julien commits an unexpected, devastating crime—and brings about his own downfall. The Red and the Black is a lively, satirical portrayal of French society after Waterloo, riddled with corruption, greed and ennui, and Julien—the cold exploiter whose Machiavellian campaign is undercut by his own emotions—is one of the most intriguing characters in European literature.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0140447644/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0140447644&linkId=855e50711154b20ef51bdf8b8355b9f6">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.sparknotes.com/lit/redblack/summary/">SparkNotes</a></p>
<p><a href="https://en.wikipedia.org/wiki/The_Red_and_the_Black">Wikipedia</a></p>
