<blockquote>
  Following a wild and raging storm, the Swiss family Robinson are stranded at sea. But the thundering waves have swept them off to a tropical island, where a new life awaits them. Their ship is laden with supplies and the island is packed with treasures, so they soon adapt and discover new dangers and delights every day.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/1514694395/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1514694395&linkId=63f411733344149da3fcd04741dd5706">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/The_Swiss_Family_Robinson">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/62111.The_Swiss_Family_Robinson?from_search=true&qid=tTXNe1zwrg&rank=1">GoodReads</a></p>
