<blockquote>
  Lady Murasaki Shikibu and her tale’s hero, Prince Genji, have had an unmatched influence on Japanese culture. Prince Genji manifests what was to become an image of the ideal Heian era courtier; gentle and passionate. Genji is also a master poet, dancer, musician and painter. The Tale of Genji follows Prince Genji through his many loves and varied passions. This book has influenced not only generations of courtiers and samurai of the distant past, but artists and painters even in modern times—episodes in the tale have been incorporated into the design of kimonos and handicrafts, and the four-line poems called waka which dance throughout this work have earned it a place as a classic text in the study of poetry.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/4805314648/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=4805314648&linkId=afe9e428803c6dd29d47dd9c375d49e7">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/The_Tale_of_Genji">Wikipedia</a></p>
<p><a href="https://www.litcharts.com/lit/the-tale-of-genji/summary">LitCharts</a></p>
