<blockquote>
  <em>Ulysses</em>, tells of the diverse events which befall Leopold Bloom and Stephen Dedalus in Dublin on 16 June 1904, during which Blooms voluptuous wife, Molly, commits adultery. Initially deemed obscene in England and the USA, this richly-allusive novel, revolutionary in its Modernistic experimentalism, was hailed as a work of genius by W. B. Yeats, T. S. Eliot and Ernest Hemingway. Scandalously frank, wittily erudite, mercurially eloquent, resourcefully comic and generously humane, Ulysses offers the reader a life-changing experience.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/1840226358/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1840226358&linkId=caadef57a1339ca1cdb46c129245fd2c">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1SuHkY2wAQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="spacer"></div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/X7FobPxu27M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
