<blockquote>
  <em>Uncle Tom’s Cabin</em> is the story of the slave Tom. Devout and loyal, he is sold and sent down south, where he endures brutal treatment at the hands of the degenerate plantation owner Simon Legree. By exposing the extreme cruelties of slavery, Stowe explores society’s failures and asks a profound question: “What is it to be a moral human being?” And as the novel that helped to move a nation to battle, <em>Uncle Tom’s Cabin</em> is an essential part of the collective experience of the American people.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/0451530802/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=0451530802&linkId=8ca869238f880483c02885fb898c2525">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.sparknotes.com/lit/uncletom/summary/">SparkNotes</a></p>
<p><a href="https://en.wikipedia.org/wiki/Uncle_Tom%27s_Cabin">Wikipedia</a></p>
