<blockquote>
  The Wealth of Nations is the magnum opus of the Scottish economist and moral philosopher Adam Smith. First published in 1776, the book offers one of the world’s first collected descriptions of what builds nations’ wealth, and is today a fundamental work in classical economics. By reflecting upon the economics at the beginning of the Industrial Revolution, the book touches upon such broad topics as the division of labour, productivity, and free markets.
</blockquote>
<p class="text-center">- <a href="https://en.wikipedia.org/wiki/The_Wealth_of_Nations">Wikipedia</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.amazon.com/gp/product/1505577128/ref=as_li_tl?ie=UTF8&tag=flowoflearnin-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1505577128&linkId=73c97f710ecfbe4c80f589ada782e7e3">Amazon</a></p>
<p><a href="https://www.goodreads.com/book/show/25698.An_Inquiry_into_the_Nature_and_Causes_of_the_Wealth_of_Nations?from_search=true&qid=J5QK5dhXow&rank=1">GoodReads</a></p>
