<blockquote>
  Meet little Mole, willful Ratty, Badger the perennial bachelor, and petulant Toad. Over one hundred years since their first appearance in 1908, they’ve become emblematic archetypes of eccentricity, folly, and friendship. And their misadventures-in gypsy caravans, stolen sports cars, and their Wild Wood-continue to capture readers’ imaginations and warm their hearts long after they grow up. Begun as a series of letters from Kenneth Grahame to his son, The Wind in the Willows is a timeless tale of animal cunning and human camaraderie.
</blockquote>
<p class="text-center">- <a href="https://www.goodreads.com/book/show/5659.The_Wind_in_the_Willows?from_search=true&qid=ZD9src5FE5&rank=1">GoodReads</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://www.amazon.com/gp/product/1949460479/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1949460479&linkId=145abce8701d4af2c12f3b9f347d89a2">Amazon</a></p>
<p><a href="https://en.wikipedia.org/wiki/The_Wind_in_the_Willows">Wikipedia</a></p>
