<blockquote>
  <em>Zorba the Greek</em>, is, on one hand, the story of a Greek working man named Zorba, a passionate lover of life, the unnamed narrator who he accompanies to Crete to work in a lignite mine, and the men and women of the town where they settle. On the other hand it is the story of God and man, The Devil and the Saints; the struggle of men to find their souls and purpose in life and it is about love, courage and faith.
</blockquote>
<p class="text-center">- <a href="https://www.amazon.com/gp/product/1476782814/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=1476782814&linkId=9cfbb620294448dec81046c1cefb913d">Amazon</a></p>
<br>

<h2>Other Synopses</h2>
<p><a href="https://en.wikipedia.org/wiki/Zorba_the_Greek">Wikipedia</a></p>
<p><a href="https://www.goodreads.com/book/show/53639.Zorba_the_Greek?from_search=true&qid=tiIa1xriuT&rank=1">GoodReads</a></p>
