<div class="justify">
  <h2>The Impact of <em>As a Man Thinketh</em></h2>
  <br>
  <p>This book of <a href="https://en.wikipedia.org/wiki/James_Allen_(author)" target="default">James Allen</a>’s is commonly acknowledged to have most established the self help genre of literature. Think of this short book to be pre-reading to other publications of its sort. The themes in this book of the law of attraction and the responsibility assumption — terms that were coined a half century after the book was written — are revisited all the time by other authors. The great news for us is that the book is in the public domain — the text is free. It takes less than two hours to read at a reflective pace.</p>
  <br>
  <h2>How to Approach This Book</h2>
  <ol>
    <li><strong>Prepare to reassess your aspirations in life.</strong>
    <br>
    Members of the human family most widely seek after happiness in the pursuit of the same unquenchable appetites. Success is predominantly viewed by people either in material terms or based on recognition. The patterns of thought adopted in these pursuits are incompatible with our greatest potential fulfillment. There is no guarantee that this book will be of use to your aims in life as they are. It will, however, guide you in aspiring to the right things. The highest culmination of the human state can more accurately be described as blessedness. James Allen describes the eventual result of right thought to be serene life, transcendent of the world’s imperfections. If the desires of your heart are off course, the book will help you redirect them. If you are unwilling to, though, then you will find no reward reading this book.</li>
    <li><strong>This book will only benefit you if you are willing to honestly assess your character and thought patterns.</strong>
    <br>
    The reader who feels no urgency to improve themselves, or believes they are fine the way they are, will not benefit from this book. Total ownership and total responsibility are prerequisites for gaining the most from this book. Saying the book is decent or rating it 3 stars is more a reflection of the reader than it is the quality of the book. This book puts you to the test.</li>
    <li><strong>Acknowledge that these ideas are embraced by people of all beliefs.</strong>
    <br>
    Though it contains quotes from the Buddhist scripture, Dhammapada, and the title of the book came from a proverb in the Bible, the teachings inside are acknowledged by its millions of readers to be true. <em>As a Man Thinketh</em> has been adopted as a companion text to the books of all beliefs — religious, agnostic, and atheistic. It could be said that <em>As a Man Thinketh</em> teaches universally recognized truth. The honest reader acknowledges this.</li>
    <li><strong>Read and listen to the book again and again.</strong>
    <br>
    The ideas in this book are as pure and noble as they come. Repeatedly sewing these thought seeds in your mental garden will cultivate right thoughts where useless weeds otherwise might have. Right thought results in a sorted life and brings forth fruits of blessedness. Rewiring a brain takes deliberate practice and repetition. Below are audible versions of the book:
    <div class="spacer"></div>
    American Narration:
    <a href="https://www.amazon.com/gp/product/B00J9OB9AS/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=B00J9OB9AS&linkId=db07af3e26fd02191b8b3f6f41d62770" target="default"><img src="as-a-man-thinketh.png" class="img-responsive center-block" /></a>
    <div class="spacer"></div>
    British Narration:
    <a href="https://www.amazon.com/gp/product/B004YX8UDS/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=flowoflearnin-20&creative=9325&linkCode=as2&creativeASIN=B004YX8UDS&linkId=a90af42e0750233763098e6e0e3f8335" target="default"><img src="as-a-man-thinketh-british.png" class="img-responsive center-block" /></a>
    </li>
  </ol>
  <br>
</div>
