<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">About</h1>
      <p><span class="firstcharacter">M</span><em>aster of Thought</em> is an extension of the book, <a href="/as-a-man-thinketh"><em>As a Man Thinketh</em></a>, by James Allen.</p>
      <br>
      <blockquote>[M]an is the <em>master of thought</em>, the molder of character, and maker and shaper of condition, environment, and destiny.</blockquote>
      <br>
      <p>This site is a compilation of principles needed correct thinking and tools for self-mastery.</p>

      <p><em>Master Of Thought</em> is being developed in conjunction with <a href="">Learner Interests</a>, a resource to help parents raise lifelong learners, because parents cannot raise lifelong learners interested in self-mastery without themselves being committed to the same. There is no better place to start than one's own tools of thought. Though this site's inspiration came from helping parents pursue lifelong learning with their children, it is applicable to everyone equally.</p>
      <br>

      <%- include("./footer") %>

    </div>
  </body>
</html>
