<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">About</h1>
      <p><span class="firstcharacter">M</span><em>aster of Thought</em> is an extension of the book, <a href="/as-a-man-thinketh"><em>As a Man Thinketh</em></a>, by James Allen. This site is a compilation of timeless principles and current tools needed for correct thinking and self-mastery.</p>
      <br>
      <blockquote>
        Thought allied fearlessly to purpose becomes creative force.
        <br /><br />
        He who <em>knows</em> this is ready to become something higher and
        stronger than a mere bundle of wavering thoughts and fluctuating
        sensations. <br /><br />
        He who <em>does</em> this has become the conscious and intelligent
        wielder of his mental powers.
      </blockquote>
      <br>
      <p><em>Master Of Thought</em> is being developed in conjunction with <a href="">Learner Interests</a>, a resource to help parents raise lifelong learners. Parents cannot raise lifelong learners who are interested in self-mastery without themselves being committed to the same. Though this site's inspiration came from helping parents pursue lifelong learning with their children, it is equally applicable to everyone.</p>
      <br>

      <%- include("./footer") %>

    </div>
  </body>
</html>
