<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">About</h1>
      <p><span class="firstcharacter">M</span><em>aster of Thought</em> is a compilation of tools for self-mastery and for individuals to build a better life for themselves. It is an extension of the book, <a href="/as-a-man-thinketh"><em>As a Man Thinketh</em></a>, by James Allen.</p>
      <br>

      <%- include("./footer") %>

      <script>
        (function (i, s, o, g, r, a, m) {
          i["GoogleAnalyticsObject"] = r;
          (i[r] =
            i[r] ||
            function () {
              (i[r].q = i[r].q || []).push(arguments);
            }),
            (i[r].l = 1 * new Date());
          (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m);
        })(
          window,
          document,
          "script",
          "https://www.google-analytics.com/analytics.js",
          "ga"
        );

        ga("create", "UA-92016918-1", "auto");
        ga("send", "pageview");
      </script>
    </div>
  </body>
</html>
