<html>
  <%- include("./head", {title: "Books"}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">American History</h1>
      <div class="spacer"></div>

      

      <%- include("./footer") %>

    </div>
  </body>
</html>
