<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <h1 class="text-center">Beliefs</h1>

      <div class="spacer"></div>
      <blockquote class="main-quote text-center">
        "Cherish your visions. Cherish your ideals. Cherish the music that stirs
        in your heart, the beauty that forms in your mind, the loveliness that
        drapes your purest thoughts, for out of them will grow all delightful
        conditions, all heavenly environment; of these, if you but remain true
        to them, your world will at last be built."
      </blockquote>
      <p class="text-center">- <em>As a Man Thinketh</em>, by James Allen</p>

      <%- include("./footer") %>
    </div>
  </body>
</html>
