<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">Foreign Languages</h1>

      <div class="spacer"></div>
      <center>
        <img src="china.png" />
      </center>
      <div class="spacer"></div>

      <h2>Why Learn a Foreign Language</h2>
      <p>While most people's thoughts, beliefs, and tastes are a reflection of the time and geography of their lives, we <em>do</em> have it in us to become something of our own design. One very effective way to reassess our base understandings of things and to think in new ways is to explore beyond our cultural programming.</p>
      <blockquote class="main-quote text-center">
        You will be what you <em>will</em> to be.
      </blockquote>
      <p class="text-center">- <em>As a Man Thinketh</em></p>
      <br>

      <center>
        <img src="sectiondivider.svg" class="decorative-divider" />
      </center>
      <div class="spacer"></div>

      <h2>Considerations of Choosing a Foreign Language to Learn</h2>
      <p>While the choice of foreign language to learn depends most on individual circumstances, there are global factors that weigh into everyone's choice. Below is data to consider on the population, economic significance, and cultural strength of various languages.</p>
      <br>

      <h3>Population<span class="cite-reference">[1]</span></h3>
      <br>
      <center>
        <img src="NativeSpeakersPerLanguage.svg" />
      </center>
      <div class="spacer"></div>
      <center>
        <img src="InternetUsersByLanguage.svg" />
      </center>
      <div class="spacer"></div>

      <h3>Economic Significance</h3>
      <br>
      <center>
        <img src="2019GDPPerLanguage.svg" />
      </center>
      <div class="spacer"></div>

      <h3>Cultural Strength</h3>
      <br>
      <center>
        <img src="BooksPublishedPerLanguage.svg" />
      </center>
      <div class="spacer"></div>

      <h3>Data Sources</h3>
      <ol>
        <li><strong>Population</strong>: <a href="https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers" target="default">Population of Native Speakers</a> and <a href="https://en.wikipedia.org/wiki/Languages_used_on_the_Internet" target="default">Internet Users By Language</a></li>
        <li><strong>Economic Significance</strong>: these numbers were determined by adding up the <a href="https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)">2019 national GDP</a> (as determined by the World Bank - or the IMF or UN if the World Bank did not have the GDP data) of every nation by their <a href="https://en.wikipedia.org/wiki/List_of_official_languages_by_country_and_territory" target="default">primary language</a> spoken. Since English is the lingua franca of business, countries that secondarily speak English were also included in the English totals. These are not precise numbers, but the GDP totals accounted for English may still be low considering all the international commerce done between nations in English.</li>
        <li><strong>Cultural Strength</strong>: the book totals were determined by cross-referencing <a href="https://en.wikipedia.org/wiki/Books_published_per_country_per_year" target="default">books published per year per country</a> with the <a href="https://en.wikipedia.org/wiki/List_of_official_languages_by_country_and_territory" target="default">primary and secondary language</a> spoken of each country. A significant percentage of authors in countries that secondarily speak English typically publish their books in English to capture a much larger international language, since English is the world's lingua franca.</li>
      </ol>

      <%- include("./footer") %>

    </div>
  </body>
</html>
