<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">Foreign Languages</h1>

      <div class="spacer"></div>
      <center>
        <img src="china.png" />
      </center>
      <div class="spacer"></div>
      <blockquote class="main-quote text-center">
        You will be what you <em>will</em> to be.
      </blockquote>
      <p class="text-center">- <em>As a Man Thinketh</em></p>
      <br>

      <center>
        <img src="sectiondivider.svg" class="decorative-divider" />
      </center>
      <div class="spacer"></div>

      <h2>Why Learn a Foreign Language</h2>
      <p>While most people's thoughts, beliefs, and tastes are a reflection of the time and geography of their lives, we <em>do</em> have it in us to become something of our own design. One very effective way to reassess our base understandings of things and to think in new ways is to explore beyond our cultural programming.</p>
      <br>
      <h2>Considerations of Choosing a Foreign Language to Learn</h2>
      <p>While the choice of foreign language to learn depends most on individual circumstances, there are global factors that weigh into everyone's choice. Below is data to consider on the population, economic significance, and cultural strength of various languages.</p>
      <br>

      <h3>Population</h3>
      <br>
      <center>
        <img src="NativeSpeakersPerLanguage.svg" />
      </center>
      <div class="spacer"></div>
      <center>
        <img src="InternetUsersByLanguage.svg" />
      </center>
      <div class="spacer"></div>

      <h3>Economic Significance</h3>
      <br>
      <center>
        <img src="2019GDPPerLanguage.svg" />
      </center>
      <div class="spacer"></div>

      <h3>Cultural Strength</h3>
      <br>
      <center>
        <img src="BooksPublishedPerLanguage.svg" />
      </center>

      <%- include("./footer") %>

    </div>
  </body>
</html>
