<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">
        <span class="pretitle">Master of</span><br />
        <span class="title">Thought</span>
      </h1>

      <div class="spacer"></div>
      <blockquote>
        Thought allied fearlessly to purpose becomes creative force.
        <br /><br />
        He who <em>knows</em> this is ready to become something higher and
        stronger than a mere bundle of wavering thoughts and fluctuating
        sensations. <br /><br />
        He who <em>does</em> this has become the conscious and intelligent
        wielder of his mental powers.
      </blockquote>
      <p class="text-center">- <a href="/as-a-man-thinketh"><em>As a Man Thinketh</em></a></p>

      <br>
      <hr>
      <br>

      <h2>Culture</h2>
      <h4>Coming August</h4>
      <p class="text-center"><a href="/books">Books</a>  &emsp;| &emsp;
      <a href="/language">Language</a> &emsp;| &emsp;
      <a href="/world-cultures">World Cultures</a></p>
      <br>

      <h2>Logic</h2>
      <h4>Coming September</h4>
      <p class="text-center">
        <a href="/cognitive-biases">Cognitive Biases</a> &emsp;| &emsp;
        <a href="/logical-fallacies">Logical Fallacies</a>
      </p>
      <br>

      <!-- <h2>Values</h2>
      <p class="text-center">
        <a href="/beliefs">Beliefs</a> &emsp;|&emsp;
        <a href="/virtues-and-vices">Virtues & Vices</a>
      </p>

      <h2>Personal Understanding</h2>
      <p class="text-center"><a href="/">Aptitudes</a> &emsp;|&emsp; <a href="">Intelligence Quotient</a> &emsp;|&emsp; <a href="">Personality</a></p> -->

      <%- include("./footer") %>

    </div>
  </body>
</html>
