<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">
        <span class="pretitle">Master of</span><br />
        <span class="title">Thought</span>
      </h1>
      <div class="spacer"></div>
      <center>
        <img class="home-banner" src="light-dawn-sunrise.png" />
      </center>
      <div class="spacer"></div>
      <blockquote>[M]an is the <em>master of thought</em>, the molder of character, and maker and shaper of condition, environment, and destiny.</blockquote>
      <p class="text-center">- <a href="/as-a-man-thinketh"><em>As a Man Thinketh</em></a></p>
      <br>
      <hr>
      <br>
      <h2>Building Blocks of Thought</h2>
      <p class="text-center"><!--<a href="/cognitive-biases">Cognitive Biases</a> &emsp;| &emsp; <a href="/logical-fallacies">Logical Fallacies</a> &emsp;| &emsp; --><a href="/vocabulary">Vocabulary</a> &emsp;| &emsp; <a href="/foreign-languages">Foreign Languages</a></p>
      <br>
      <h2>Thought Seeds</h2>
      <p class="text-center"><a href="/books">Noteworthy Books</a></p>
      <br>

      <!-- <h2>Modern Civilization</h2>
      <p class="text-center">
        <a href="/books">Most Noteworthy Books of All Time</a> &emsp;| &emsp;
        <a href="/world-cultures">Overview of the World</a>
      </p>
      <p class="text-center">
        East Asia &emsp;| &emsp;
        Islam &emsp;| &emsp;
        South Asia &emsp;| &emsp;
        The West
      </p>
      <br> -->

      <!-- <h2>Values</h2>
      <p class="text-center">
        <a href="/beliefs">Beliefs</a> &emsp;|&emsp;
        <a href="/virtues-and-vices">Virtues & Vices</a>
      </p>

      <h2>Personal Understanding</h2>
      <p class="text-center"><a href="/">Aptitudes</a> &emsp;|&emsp; <a href="">Intelligence Quotient</a> &emsp;|&emsp; <a href="">Personality</a></p> -->

      <%- include("./footer") %>

    </div>
  </body>
</html>
