<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">
        <span class="pretitle">Master of</span><br />
        <span class="title">Thought</span>
      </h1>
      <center>
        <img src="titledivider.svg" class="title-divider" />
      </center>
      <br>
      <br>
      <center>
        <img class="home-banner" src="light-dawn-sunrise.png" />
      </center>
      <div class="spacer"></div>
      <blockquote>[M]an is the <em>master of thought</em>, the molder of character, and maker and shaper of condition, environment, and destiny.</blockquote>
      <p class="text-center">- <a href="/as-a-man-thinketh"><em>As a Man Thinketh</em></a></p>

      <div class="spacer"></div>
      <center><img src="decorativedivider.svg" class="decorative-divider" /></center>
      <div class="spacer"></div>

      <h2>Words</h2>
      <p>Helpful overviews on why and how to expand your building blocks of thought:</p>
      <p class="text-center"><a href="/vocabulary">Vocabulary</a> &emsp;| &emsp; <a href="/foreign-languages">Foreign Languages</a></p>
      <br>

      <h2><a href="/as-a-man-thinketh">As a Man Thinketh</a></h2>
      <p>This book written by James Allen in 1903 is commonly acknowledged to have most established the self help genre of literature. It is now public domain.</p>
      <br>

      <h2><a href="/books">Noteworthy Books</a></h2>
      <p>Included is a list of books that have been deemed the best of all time, most influential of all time, or best-selling. To reduce the likelihood of anyone’s biases, objectives, or blind spots affecting this list too much, only books that appear in at least two reputable book lists are included in this compilation.</p>
      <br>

      <!-- <h2>Thinking Patterns</h2>
      <p class="text-center"><a href="/cognitive-biases">Cognitive Biases</a> &emsp;| &emsp; <a href="/logical-fallacies">Logical Fallacies</a></p>
      <br> -->

      <!-- <h2>Values</h2>
      <p class="text-center"><a href="/beliefs">Beliefs</a> &emsp;|&emsp; <a href="/virtues-and-vices">Virtues & Vices</a></p>
      <br> -->

      <!-- <h2>Modern Civilization</h2>
      <p class="text-center">
        <a href="/world-cultures">Overview of the World</a>
      </p>
      <p class="text-center">
        East Asia &emsp;| &emsp;
        Islam &emsp;| &emsp;
        South Asia &emsp;| &emsp;
        The West
      </p>
      <br> -->

      <!-- <h2>Personal Understanding</h2>
      <p class="text-center"><a href="/">Aptitudes</a> &emsp;|&emsp; <a href="">Intelligence Quotient</a> &emsp;|&emsp; <a href="">Personality</a></p>
      <br> -->

      <center>
        <img src="decorativedivider.svg" class="decorative-divider" />
      </center>
      <div class="spacer"></div>

      <h2>About</h2>
      <p><strong>Learning is about more than accumulating knowledge</strong> - it's about acheiving greatness, however that may be defined for one's circumstances. <em>Master Of Thought</em> is a compilation of timeless principles and current tools needed for correct thinking and self-mastery - carrying the spirit of the text, <a href="/as-a-man-thinketh"><em>As a Man Thinketh</em></a>, by James Allen.</p>
      <p>This site is being developed in conjunction with <a href="http://learnerinterests.com/">Learner Interests</a>, a resource to help parents pursue lifelong learning with their children, however the resources here on <em>Master of Thought</em> are equally applicable to anyone.</p>

      <%- include("./footer") %>

    </div>
  </body>
</html>
