<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">Language</h1>

      <div class="spacer"></div>
      <blockquote class="main-quote text-center">
        As a being of Power, Intelligence, and Love, and the lord of his own
        thoughts, man holds the key to every situation, and contains within
        himself that transforming and regenerative agency by which he may make
        himself what he wills.
      </blockquote>
      <p class="text-center">- <em>As a Man Thinketh</em>, by James Allen</p>

      <br>
      <hr>
      <br>

      <h2>Vocabulary</h2>

      <br>
      <hr>
      <br>

      <h2>Foreign Language</h2>
      <br>
      <center>
        <img src="InternetUsersByLanguage.svg" />
      </center>

      <div class="spacer"></div>

      <center>
        <img src="NativeSpeakersPerLanguage.svg" />
      </center>
      <br>

      <%- include("./footer") %>

    </div>
  </body>
</html>
