<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <h1 class="text-center">
        <%= logicalFallacy.name %>
      </h1>

      <%- include("./footer") %>
    </div>
  </body>
</html>
