<a href="/" ><img src="favicon-32x32.png" /></a>

<ul class="global-nav">
  <li><a href="/books">Reading</a></li>
  <li><a href="/language">Language</a></li>
  <li><a href="/about">About</a></li>
</ul>
