<div class="header-menu">
  <div class="topnav" id="myTopnav">
    <a href="/" ><img src="favicon-32x32.png" /></a>
    <div class="main-menu">
      <div class="dropdown">
        <!-- <button class="dropbtn">Words
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/vocabulary">Vocabulary</a>
          <a href="/foreign-languages">Foreign Languages</a>
        </div> -->
      </div>
      <a href="/as-a-man-thinketh">As a Man Thinketh</a>
      <a href="/books">Noteworthy Books</a>
    </div>
    <a href="javascript:void(0);" style="padding: 14px 16px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
</div>
<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
