<div class="header-menu">
  <a href="/" ><img src="favicon-32x32.png" /></a>
  <ul class="global-nav">
    <li><a href="/about">About</a></li>
    <li>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Books<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="/as-a-man-thinketh">As a Man Thinketh</a></li>
          <li><a href="/books">Most Noteworthy Books</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Building Blocks<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="/vocabulary">Vocabulary</a></li>
          <li><a href="/foreign-languages">Foreign Languages</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
