<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <h1 class="text-center">Virtues and Vices</h1>

      <div class="spacer"></div>
      <blockquote class="main-quote text-center">
        Man is made or unmade by himself; in the armory of thought he forges the
        weapons by which he destroys himself. He also fashions the tools with
        which he builds for himself heavenly mansions of joy and strength and
        peace.
        <br /><br />
        By the right choice and true application of thought, man ascends to the
        Divine Perfection; by the abuse and wrong application of thought, he
        descends below the level of the beast. Between these two extremes are
        all the grades of character, and man is their maker and master.
      </blockquote>
      <p class="text-center">- <em>As a Man Thinketh</em>, by James Allen</p>

      <%- include("./footer") %>
    </div>
  </body>
</html>
