<html>
  <%- include("./head", {title: name}) %>

  <body>
    <div class="container">
      <%- include("./nav") %>
      <h1 class="text-center">Vocabulary</h1>

      <div class="spacer"></div>
      <center>
        <img src="vocabulary.png" />
      </center>
      <div class="spacer"></div>

      <h2>The Impact of Vocabulary on Life Outcomes</h2>
      <p>The founder of the world's leading aptitudes research institute, the Johnson O'Connor Research Foundation, <a href="https://www.jocrf.org/sites/jocrf.org/files/assets/Understanding_Your_Aptitudes.pdf">said</a> that command over vocabulary "accompanies outstanding success in [the United States] more often than any other single characteristic which… the Johnson O’Connor Research Foundation has been able to isolate and measure." The foundation has done <a href="https://www.ideals.illinois.edu/bitstream/handle/2142/17878/ctrstreadtechrepv01994i00605_opt.pdf">extensive research</a> on this since the 1920s.</p>
      <p>The most sited study by Johnson O'Connor conducted was an extensive one done with the employees of 39 large manufacturing companies. Below are the results of a vocabulary test that have been averaged and grouped by hierarchical level. Better ability to think and commmunicate accompanied higher offices in the employees' positions within their companies.</p>
      <br>
      <center>
        <img src="39ManufacturingCompanies.svg" />
      </center>
      <div class="spacer"></div>
      <p>The findings on this may be surprising, but only because we as a society might not be emphasizing the importance of expanding our vocabulary enough. The reasons why command of vocabulary accompanies success so closely should not come as a surprise. Words are the very building blocks of thought. Expanding your vocabulary enhances your thinking capacity.</p>
      <br>
      
      <center>
        <img src="sectiondivider.svg" class="decorative-divider" />
      </center>
      <div class="spacer"></div>

      <h2>Expanding Your Vocabulary Helps You...</h2>
      <br>
      <h3>Think More Clearly</h3>
      <ul>
        <li>Have words to associate with things you previously did not</li>
        <li>Distinguish nuance between words you already know</li>
      </ul>
      <br>

      <h3>Broaden Your Thinking</h3>
      <ul>
        <li>Open new lines of thought</li>
        <li>Reassess your thought patterns</li>
      </ul>
      <br>

      <h3>Improve Your Communication</h3>
      <ul>
        <li>Have better words to communicate your ideas</li>
        <li>Know how to acheive more with fewer words</li>
        <li>Ensure you are being understood by others</li>
        <li>Speak more confidently</li>
      </ul>
      <br>
      <center>
        <img src="ImprovedCommunication.svg" />
      </center>
      <div class="spacer"></div>

      <h4>See Improved Results in All Areas of Your Life</h4>
      <ul>
        <li>Make sense of otherwise confusing or distressing situations</li>
        <li>Come to more accurate conclusions</li>
        <li>Be perceived as competent</li>
        <li>See more success in your career</li>
      </ul>
      <br>
      <center>
        <img src="VocabularyLifeOutcomes.svg" />
      </center>
      <div class="spacer"></div>

      <h2>Strategies for Expanding Your Vocabulary</h2>
      <ol>
        <li>Read voraciously.</li>
        <li>Look up words habitually.</li>
        <li>Practice new words you learn.</li>
        <li>Routinely memorize new word definitions.</li>
      </ol>

      <%- include("./footer") %>

    </div>
  </body>
</html>
