<html>
<%- include("./head", {title: name}) %>

<body>
  <div class="container">
    <%- include("./nav") %>
    <h1 class="text-center">World Cultures</h1>

    <%- include("./footer") %>

  </div>
</body>
</html>
