/* || General styles */

/*
COLOR PALETTE
Teal: #008080
Dark Teal: #004D4D
Light Teal: #3DCCCC
White: #FCFCFC
Black: 303030
Grey: #707070
*/

body {
  font-family: 'Lora', serif;
  color: #303030;
  background-image: url("light-paper-fibers.jpg");
  /*background-image: url("cream-paper-subtle-pattern.jpg");*/
  background-repeat: repeat;
  padding: 10px;
  margin-right: 0 50% !important;
  margin-left: 0 50% !important;
  float: none !important;
}

.container {
  max-width: 600px;
}

.btn {
  border: none;
  padding: 0px 0px;
}

hr {
  background-color: rgba(61, 204, 204, 0.3);
  width: 300px;
  border: none;
  height: 2px;
}

img {
  max-width: 100%;
}

/* || Typography */

h1 {
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  font-size: 40px;
}

h1, .firstcharacter {
  color: #008080;
  text-shadow: 0.5px 0.5px #707070;
}

h2 {
  color: #004D4D;
}

h2 a {
  color: #3DCCCC;
}

h2 a:hover {
  color: #707070;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

a {
  color: #303030;
  text-decoration: underline;
}

a:hover {
  color: #3DCCCC;
}

ul {
  margin-bottom: 0px;
}

p, blockquote, li {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0px;
}

blockquote {
  border-left: 2px solid rgba(61, 204, 204, 0.3);
  margin: auto;
  max-width: 350px;
  padding: 0px 15px;
  text-align: center;
}

.justify {
  text-align: justify;
}

.firstcharacter {
  float: left;
  font-size: 300%;
  line-height: 80%;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.cite-reference {
  font-size: 50%;
  vertical-align: super;
}

/* || Header and Main Navigation */

.header-menu {
  border-bottom: 1px solid #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

.home-logo {
  width: 40px;
  height: auto;
}

.dropdown-toggle::after {
  margin-left: 3px;
}

.dropdown-menu {
  padding: 5px 5px 14px 5px;
  width: 180px;
}

.dropdown-menu li {
  float: left !important;
  margin: 20px 0px;
}

.icon {
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: #008080;
}

.icon:hover{
  text-decoration: none;
}

.topnav {
  display: block;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topnav a {
  padding: 14px 16px;
  float: left;
  display: block;
  color: #707070;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
}

.topnav a.icon {
  float: right;
  display: block;
}

.topnav a img:hover {
  box-shadow: 0 0 2px 1px rgba(61, 204, 204, 0.3);
}

.topnav .icon {
  font-size: 20px;
  display: none;
}

.main-menu {
  display: block;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.dropdown {
  float: left;
  /* overflow: hidden; */
}

.dropdown .dropbtn {
  width: 100%;
  font-size: 17px;
  border: none;
  outline: none;
  color: #008080;
  font-weight: bold;
  text-transform: uppercase;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  margin-left: -30px;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #707070;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  background-color: #999;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav.responsive {
  position: relative;
}

.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  color: #008080;
  text-transform: uppercase;
  font-weight: bold;
}

.topnav.responsive .dropdown {
  float: none;
}

.topnav.responsive .dropdown-content {
  position: relative;
}

.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown-content {
  margin-left: 0;
}

/* || Home Screen */

.pretitle {
  font-size: 30px;
  line-height: 0.9;
}

.title {
  font-size: 50px;
  line-height: 0.9;
}

.title-divider {
  width: 240px;
  margin-top: 0px;
}

.decorative-divider {
  width: 200px;
}

/* || As a Man Thinketh */

.author-image {
  width: 305px;
  height: 305px;
  background-image: url(James_Allen.png);
  background-repeat: no-repeat;
  background-position: bottom 6px right 50px;
}

/* || Books and Chapters */

.book-detail{
  display: block;
}

.amazon-image {
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  margin: 0px auto 20px auto;
  clear: both;
}

.about-book {
  display: block;
  position: relative;
  max-width: 350px;
  margin: 0px auto auto;
  padding: 30px 60px 12px;
  background-color: rgba(61, 204, 204, 0.3);
  background-image: url(cornerdecoration.svg);
  background-repeat: no-repeat;
  background-position: bottom 5px right 5px;
  background-size: 90px 135px;
}

.navigation_box {
  display: block;
  float: right;
  clear: both;
  margin: 14px 7px 0px 0px;
}

.navigation {
  color: #707070;
  font-weight: bold;
}

.navigation a {
  text-decoration: none;
  color: #707070;
}

.book-synopses blockquote {
  margin-left: 0px;
  padding: 0px 10px 0px 30px;
  max-width: 100%;
  text-align: left;
}

.book-synopses p {
  text-align: center;
}

iframe{
  width: 100%;
  height: auto;
  min-height: 200px;
}

li.book-list {
  line-height: 18px;
  list-style-type: none;
}

.table_of_contents {
  display: block;
  margin: auto;
  max-width: 350px;
}

.toc {
  line-height: 16px;
  margin: 8px 0px;
}

.spacer {
  height: 50px;
}

@media only screen and (min-width: 450px) {
  .title {
    font-size: 70px;
    line-height: 0.9;
  }

  .title-divider {
    width: 340px;
    margin-top: 5px;
  }

  .decorative-divider {
    width: 280px;
  }

  .book-synopses blockquote {
    margin-left: 30px;
    padding: 0px 50px 0px 30px;
  }

  iframe{
    width: 100%;
    height: 315px;
  }
}

@media only screen and (min-width: 600px) {
  .book-detail {
    display: flex;
    justify-content: space-between;
  }

  .amazon-image {
    display: flex;
    justify-content: center;
    float: left;
    clear: right;
    margin: 0px 20px 20px 0px;
  }
}

@media screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h1, .firstcharacter {
    text-shadow: 1px 1px #707070;
  }

  .pretitle {
    font-size: 40px;
  }

  .title {
    font-size: 110px;
  }

  .title-divider {
    width: 530px;
    margin-top: 10px;
  }

  .decorative-divider {
    width: 400px;
  }

  iframe{
    width: 560px;
    height: 315px;
  }

  .icon {
    display: none;
  }

  .topnav .main-menu a {
    text-align: right;
  }

  .navigation_box {
    margin: 20px 7px 0px 0px;
  }
}
