body {
  font-family: 'Lora', serif;
  color: #303030;
  background-image: url("light-paper-fibers.jpg");
  /*background-image: url("cream-paper-subtle-pattern.jpg");*/
  background-repeat: repeat;
  padding: 10px;
  margin-right: 0 50% !important;
  margin-left: 0 50% !important;
  float: none !important;
}

/* .border-frame {
  background-image: url("borderframe.png"), url("light-paper-fibers.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
} */

/*
Teal: #008080
Dark Teal: #004D4D
Light Teal: #3DCCCC
White: #FCFCFC
Black: 303030
Grey: #707070
*/

.container {
  max-width: 600px;
}

h1, h2, h3 {
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
}

h1 {
  color: #008080;
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

.pretitle {
  font-size: 30px;
  line-height: 0.9;
}

.btn {
  border: none;
  padding: 0px 0px;
}

.title {
  font-size: 70px;
  line-height: 0.9;
}

a {
  color: #303030;
  text-decoration: underline;
}

a:hover {
  color: #3DCCCC;
}

hr {
  width: 90%;
}

.header-menu {
  border-bottom: 1px solid #fcfcfc;
  display: block;
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 10px 0px;
}

.home-logo {
  width: 40px;
  height: auto;
}

ul {
  margin-bottom: 0px;
}

.dropdown-toggle::after {
  margin-left: 3px;
}

ul.global-nav {
  float: right;
  list-style-type: none;
}

ul.global-nav li {
  float: right;
  clear: none;
  margin: 5px 0px 0px 15px;
}

.dropdown-menu {
  padding: 5px 5px 14px 5px;
  width: 180px;
}

.dropdown-menu li {
  float: left !important;
  margin: 20px 0px;
}

img {
  max-width: 100%;
}

.about-book {
  display: block;
  width: 275px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 15px 0px 0px;
  border: 2px solid #004D4D;
  background-color: rgba(61, 204, 204, 0.3);
}

.amazon-image {
  display: inline-block;
  margin: 0px auto 20px auto;
  clear: both;
}

.navigation_box {
  float: right;
  clear: right;
  margin-right: 0px;
}

.navigation {
  float: right;
  clear: none;
}

.navigation a {
  text-decoration: none;
}

p, blockquote, li {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0px;
}

blockquote {
  border-left: 2px solid #008080;
  margin: auto;
  max-width: 350px;
  padding: 0px 15px;
  text-align: center;
}

li.book-list {
  line-height: 18px;
  list-style-type: none;
}

.justify {
  text-align: justify;
}

.firstcharacter {
  color: #008080;
  float: left;
  font-size: 300%;
  line-height: 80%;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.table_of_contents {
  display: block;
  margin: auto;
  max-width: 350px;
}

.toc {
  line-height: 16px;
  margin: 8px 0px;
}

.spacer {
  height: 50px;
}

@media only screen and (min-width: 450px) {
  .about-book {
    display: block;
    position: relative;
    padding: 15px 0px 0px;
    border: 2px solid #004D4D;
    margin: 0px 0px 20px 200px;
    background-color: rgba(0, 128, 128, 0.3);
  }

  .amazon-image {
    float: left;
    clear: right;
    margin: 0px 20px 20px 0px;
  }
}

@media only screen and (min-width: 768px) {
h1 {
  font-size: 48px;
}

.pretitle {
  font-size: 40px;
}

.title {
  font-size: 110px;
}
}
